<main class="register">
    <div class="login__panel">
        <h1 class="login__title">Вход</h1>
        <form class="login__form">
            <div class="login__inputs">
                {{{ LoginInput }}}
                {{{ PasswordInput }}}
            </div>
            <div class="login__inputs">
                {{{ ButtonAuth }}}
                <p class="login__register">Нет аккаунта?</p>
            </div>
        </form>
    </div>
</main>
