<div class="register">
    <div class="login__panel">
        <p class="login__title">Вход</p>
        <form class="login__form">
            <div class="login__inputs">
                {{> input placeholder='Логин' class='login__input' textType='text' name='login'}}
                {{> input placeholder='Пароль' name='password'}}
            </div>
            <div class="login__inputs">
                {{> button label='Авторизоваться' class='login__button'}}
                <p class="login__register">Нет аккаунта?</p>
            </div>
        </form>
    </div>
</div>