.input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--primary-border);
    background-color: transparent;
    width: 100%;
    height: 37px;
    color: var(--primary-text);
}

input::placeholder {
    color: var(--primary-text);
    font-family: Inter, sans-serif;
    font-size: 15px;
}

input:focus {
    outline: none;
}

input:invalid {
    border-bottom: 1px solid var(--invalid-border);
    color: var(--invalid-text);
}
