.register {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.register__title {
    font-size: 30px;
}

.register__panel {
    display: flex;
    margin: auto;
    height: 60vh;
    width: 25vw;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    align-items: center;
    font-family: Inter, sans-serif;
    padding: 50px 0;
    color: white;

    border-radius: 20px;
}

.register__inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__auth {
    color: white;
    font-family: Inter, sans-serif;
    font-size: 15px;
    margin-top: 15px;
}

.register__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
}

.register__input {
    margin-bottom: 20px;
}

.register__button {
    width: 100%;
}