<div class="error-window">
    <p class="error-window__number">404</p>
    <p class="error-window__title">Упс! Не туда завернули</p>
    <a class="error-window-redirect" href="#">На главную</a>
</div>