<form class="home__chat-input">
    <div class="home__input-panel-add">
        <label for="file-upload" class="home__label-file-load">
            <img src="{{add}}" alt="Добавить файл" class="svg__add">
        </label>
        <input type="file" id="file-upload" name="file" class="home__input-file">
    </div>
    <div class="home__input-panel-message">
        {{{ InputMessage }}}
    </div>
    <button class="home__input-button-enter" type="submit">
        <img src="{{arrow}}" alt="Отправить сообщение" class="svg__arrow">
    </button>
</form>
