<div class="error-window">
    <p class="error-window__number">500</p>
    <p class="error-window__title">Это не мы, но уже чиним</p>
    <a class="error-window-redirect" href="#">На главную</a>
</div>
