<div class="window-user-chat">
    <div>
        <div class="window__cross">{{{CloseWindow}}}</div>
        <p class="window__title">Пользователи чата</p>
        <div class="window__input">
            {{{InputUserId}}}{{{AddUsers}}}
        </div>
    </div>
    {{{ UsersList }}}
</div>
