<div class="window">
    <p class="window__title">Загрузите файл</p>
    <input class="window__input" type="file" name="avatar" placeholder="Выберите файл на компьютере"/>
    {{> button label='Загрузить новый аватар' class='window__button-load'}}
</div>
