<div class="window">
    <p class="window__title">Загрузите файл</p>
    <input class="window__input" type="file" name="avatar" placeholder="Выберите файл на компьютере"/>
    {{{ ButtonLoad }}}
</div>
