<div class="window__file">
    <div class="window__cross">{{{CloseWindow}}}</div>
    <p class="window__title">Загрузите файл</p>
    <input class="window__input-file" type="file" name="avatar" placeholder="Выберите файл на компьютере"/>
    {{{ ButtonLoad }}}
</div>
