.home {
  display: grid;
  grid-template-columns: 22vw auto;
  width: 100vw;
  height: 100vh;
}

.home__title {
  background-image: linear-gradient(rgb(14 0 39) 20%, rgb(0 0 0 / 20%));
  position: fixed;
  top: 0;
  left: 0;
  width: calc(22vw - 1px);
  height: 150px;
  border-bottom: 1px solid var(--primary-border);
  z-index: 100;
  backdrop-filter: blur(7px);
  display: grid;
  grid-template-rows: 60% 40%;
}

.home__dialogs {
  background-color: var(--primary-bg);
  position: relative;
  padding: 155px 5px 5px;
  overflow-y: auto;
  border-right: 1px solid var(--primary-border);
}

.home__dialog-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

.home__dialogs::-webkit-scrollbar {
  width: 0;
}

.home__search {
  outline: none;
  border: none;
  background-color: transparent;
  width: calc(100% - 40px);
  height: 100%;
  color: var(--primary-text);
  font-family: Inter, sans-serif;
}

.home__search::placeholder {
  text-align: center;
  font-family: Inter, sans-serif;
}

.svg__search {
  width: 40px;
  height: 40px;
}

.svg__add {
  width: 45px;
  height: 45px;
}

.svg__arrow {
  width: 20px;
  height: 20px;
}

.svg__settings {
  width: 25px;
  height: 25px;
}

.home__title-bottom {
  box-sizing: border-box;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 40px;
  margin: 0 auto;
  background-color: var(--background-opacity-button);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid var(--primary-border);
}

.home__title-top {
  box-sizing: border-box;
  padding-left: 10%;
  display: grid;
  grid-template-columns: 88% auto;
  width: 100%;
  height: 100%;
  align-content: center;
}

.home__title-settings {
  outline: none;
  border: none;
  background-color: transparent;
  align-content: center;
  text-align: center;
}

.home__title-name {
  font-family: Inter, sans-serif;
  color: var(--primary-text);
  font-size: 30px;
  text-align: center;
  align-content: center;
}

.home__chat {
  display: grid;
  grid-template-rows: auto 70px;
}

.home__chat-input {
  background-color: var(--primary-bg);
  border-top: 1px solid var(--primary-border);
  display: grid;
  grid-template-columns: 70px auto 70px;
}

.home__input-panel-add {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--background-opacity-button);
  margin: auto;
  justify-content: center;
  align-items: center;
}

.home__label-file-load {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.home__input-panel-message {
  height: 40px;
  border-radius: 25px;
  background-color: var(--background-opacity-button);
  margin: auto 10px;
  padding: 0 10px;
}

.home__input-message {
  font-family: Inter, sans-serif;
  color: var(--primary-text);
  font-size: 20px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.home__input-message::placeholder {
  font-family: Inter, sans-serif;
  color: var(--secondary-text);
  font-size: 20px;
}

.home__input-button-enter {
  outline: none;
  border: none;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--background-opacity-button);
  margin: auto;
  justify-content: center;
  align-items: center;
}

.home__input-file {
  display: none;
}
