<div class="window">
    <p class="window__title">Изменить пароль</p>
    <form class="window__form">
        <div class="window__inputs">
            {{> input placeholder='Старый пароль' class='window__input' textType='text' name='oldPassword'}}
            {{> input placeholder='Новый пароль' class='window__input' textType='text' name='newPassword'}}
        </div>
        <div class="window__inputs">
            {{> button label='Изменить' class='window__button-edit-password'}}
            <p class="window__button-cancel">Отмена</p>
        </div>
    </form>
</div>