<div class="window">
    <p class="window__title">Изменить пароль</p>
    <form class="window__form">
        <div class="window__inputs">
            {{{ OldPasswordInput }}}
            {{{ NewPasswordInput }}}
        </div>
        <div class="window__inputs">
            {{{ ButtonAccept }}}
            <p class="window__button-cancel">Отмена</p>
        </div>
    </form>
</div>
