<ul>
    <li><a href="#" class="nav" page="login">Login</a></li>
    <li><a href="#" class="nav" page="register">Register</a></li>
    <li><a href="#" class="nav" page="profile">Profile</a></li>
    <li><a href="#" class="nav" page="home">Home</a></li>
    <li><a href="#" class="nav" page="error4xx">Error4xx</a></li>
    <li><a href="#" class="nav" page="error5xx">Error5xx</a></li>
</ul>
