<div class="window">
    <p class="window__title">Вы уверены что хотите выйти из аккаунта?</p>
    <div class="window__buttons">
        {{> button label='Выйти' class='window__button-fixed-size window__button-exit'}}
        {{> button label='Отмена' class='window__button-fixed-size window__button-cancel'}}
    </div>

</div>