<div class="window">
    <p class="window__title">Вы уверены что хотите выйти из аккаунта?</p>
    <div class="window__buttons">
        {{{ ButtonExit }}}
        {{{ ButtonCancel }}}
    </div>
</div>
