.dialog {
  display: grid;
  grid-template-columns: 100px auto 100px;
  width: 100%;
  min-height: 100px;
  background-color: var(--bg-modal-opacity-window);
  backdrop-filter: blur(7px);
  border-radius: 20px;
  user-select: none;
}

.dialog_selected {
  background-color: var(--bg-modal-opacity-window-selected) !important;
}

.dialog__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog__avatar {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  object-fit: cover;
}

.dialog__content {
  display: grid;
  grid-template-rows: 35px auto;
  gap: 5px;
}

.dialog__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  box-sizing: border-box;
  padding: 10px 20px 10px 0;
  font-family: Inter, sans-serif;
  font-size: 15px;
  color: var(--primary-text);
}

p {
  margin: 0;
  font-family: Inter, sans-serif;
}

.dialog__name {
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: var(--primary-text);
}

.dialog__message {
  color: var(--secondary-text);
}

.dialog__cycle {
  font-size: 20px;
  height: 30px;
  width: 30px;
  background-color: var(--bg-couner-message);
  border-radius: 50%;
  align-content: center;
  text-align: center;
}

.svg__settings {
  width: 15px;
  height: 15px;
}
