:root {
  --primary-bg: #0E0027;
  --primary-button-bg: #4E1E6D;
  --secondary-button-bg: red;
  --primary-border: white;
  --invalid-border: red;
  --primary-text: white;
  --invalid-text: red;
  --secondary-text: #999999;
  --bg-couner-message: rgba(255, 255, 255, 0.5);
  --background-opacity-button: rgba(239, 239, 239, 0.2);
  --background-modal-window: rgba(0, 0, 0, 0.7);
  --bg-modal-opacity-window: rgba(255, 255, 255, 0.2);
}

body {
  background-image: url("./assets/image/main-background.webp");
  width: 100vw;
  margin: 0;
  height: 100vh;
}
